body{
  margin: 0;
  padding: 0;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(177,97,177,1) 100%);
  background-size: cover;
}
.box{
  width: 375px;
  background: rgba(26, 78, 58, 0.4);
  padding: 40px;
  border-radius: 10%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 225px;
  height: 225px;
}
.box h1{
  font-size: 30px;
  font-weight: 10px;
}
.box h5{
  font-size: 20px;
  font-weight: 10px;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 10px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out;
}
.box li a:hover{
  color: #acb8bc;
}