body{
  margin: 0;
  padding: 0;
  background: rgb(0,102,178);
  background: linear-gradient(270deg, rgba(0,102,178,1) 0%, rgba(27,160,210,1) 100%);
  background-size: cover;
}
.box{
  width: 375px;
  background: rgba(26, 78, 58, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Helvetica',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 225px;
  height: 225px;
}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 10px;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  
}